Package: com.0xkuj.imapssubscription
Name: imapsSubscription
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: U-OMRIK\Kujman
Author: U-OMRIK\Kujman
Section: Tweaks
